APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

# Configuración Crítica de Octane
OCTANE_SERVER=frankenphp
OCTANE_HTTPS=false
WATCH_INTERVAL=1

# Base de Datos
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=sigma
DB_USERNAME=sigma
DB_PASSWORD=sigma

# Rendimiento Industrial: Todo a Valkey/Redis
SESSION_DRIVER=redis
CACHE_STORE=redis
SESSION_LIFETIME=120

# Configuración de Valkey (Compatible con Redis Driver)
REDIS_CLIENT=phpredis
REDIS_HOST=valkey
REDIS_PASSWORD=null
REDIS_PORT=6379

# Colas y Busqueda
QUEUE_CONNECTION=redis
SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_NO_ANALYTICS=false

# Almacenamiento
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=sail
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=sigma-bucket
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"
